APP_NAME={{.APP_NAME}}
SERVER_HOST=
SERVER_PORT=
ETCD_ADDRESS=http://localhost:2379

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME={{.APP_NAME}}
DB_MAX_IDEL_CONNS=100
DB_OPEN_IDEL_CONNS=100
DB_TABLE_PREFIX={{.APP_NAME}}_
DEBUG=true

CACHE_TYPE=redis
CACHE_ADDRESS=localhost:6379

REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_DB=

SMS_TYPE=alisms
SMS_ACCESS_KEY=
SMS_SECRET_KEY=
SMS_SIGN_NAME=
SMS_TEMPLAET_CODE=
SMS_FOREIGN_TEMPLAET_CODE=

JWT_SECRET_KEY=
JWT_EXPIRE_TIME=
JWT_ISSUER=

OSS_TYPE=minio
OSS_ADDR=localhost:9000
OSS_SECURE=false
OSS_ACCESS_KEY=minio
OSS_SECRET_KEY=minio123
OSS_BUCKET_NAME={{.APP_NAME}}

PRODUCER_TYPE=rocketmq
PRODUCER_ADDRS=localhost:9876
PRODUCER_RETRY_TIMES=1
PRODUCER_GROUP_NAME={{.APP_NAME}}

CONSUMER_TYPE=rocketmq
CONSUMER_ADDRS=192.168.50.28:9876
CONSUMER_GROUP_NAME={{.APP_NAME}}
CONSUMER_CONSUME_MODEL=1

LLM_TYPE=qwen
LLM_API_KEY=
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
